<html>
	<head>
		<style type="text/css">
			.parrafo{
				text-align:justify;
				font-size:12px;
			}
			.pg{
				text-align:justify;
			}
			#footerContent {
				font-size: 8px;
				text-align:center;
			}
			.titulo {
				text-align:center;
				font-size: 14px;
			}
			#headerTextContent{
				text-align:justify;
				font-size: 8px;
			}
			.bold{
				font-weight:bold;
			}

		 </style>

	</head>

	<body class="pg" style="text-align:justify;">

	 	<div class="titulo">
			<h4>MINISTERIO DEL PODER POPULAR PARA EL TURISMO</h4>
		</div>
			<br>

		<div style="margin-right:5cm;text-align:justify;">
			<span>Se&ntilde;ores: </span>
			<span>{{razon_social}}</span>
			<span>Direccion : {{direccion}}<span>
		</div>
			<br>
		{% if contacto %}
			<div style="text-align:right;"> 
				<span> Atenci&oacute;n: </span>
				<span>{{contacto.nombres}}} {{contacto.apellidos}}</span>
	            <span>Cargo: {{contacto.cargo_empresa}}}</span>
			</div>
		{% endif %}

		<div class="parrafo" style="text-align:justify;
		font-size:12px;">
			Con un saludo bolivariano y revolucionario me dirijo a usted en la oportunidad de informarle que, este Ministerio del Poder Popular para el Turismo, en su condici&oacute;n de &oacute;rgano rector en materia de turismo y en ejercicio de las atribuciones conferidas en el art&iacute;culo {{articulo.numero}}, numeral (es) {{numerales}} del Decreto con Rango, Valor y Fuerza de Ley Org&aacute;nica de Turismo, decidi&oacute; otorgar la Licencia de Turismo N&deg; {{licencia}}, bajo la clasificaci&oacute;n de {{clasificacion}}, raz&oacute;n por la cual, se exhorta a tramitar la correspondiente categor&iacute;a, de conformidad con la normativa legal aplicable a la materia.
		</div><br><br>
		<div class="parrafo" style="text-align:justify;
		font-size:12px;">
			¿Qu&eacute; es la Categorizaci&oacute;n?
			<br>
			Acto administrativo emitido por el ministerio del poder popular con competencia en materia de turismo, que tiene por objeto, asignar un rango o grado al prestador de servicios tur&iacute;sticos, de acuerdo a la clasificaci&oacute;n otorgada, a la calidad y cantidad de servicios que ofrecen a los turistas o visitantes y cualquier otra consideraci&oacute;n que se establezca en la normativa que a tal efecto se dicte.
		</div><br><br><br>
		<div class="parrafo" style="text-align:justify;
		font-size:12px;">
			¿Qui&eacute;nes deben solicitar la categorizaci&oacute;n?
			<br>
			Aquellas personas jur&iacute;dicas que prestan al p&uacute;blico el servicio de hospedaje en forma temporal en cualesquiera de sus modalidades.
		</div><br><br><br>


		<div id="footerContent" style="font-size: 8px;
		text-align:center;">
			<hr style="border-bottom:5px solid red;" />
    		Av. Francisco de Miranda con Av. Ppal. de La Floresta, Complejo MINTUR, Torre Norte. Apartado Postal: 025726.
    		<br>Telfs.: 0-500- Turismo (0-500-8874766) /  Fax: +58 (212) 208.4522  <a href="www.mintur.gob.ve"> www.mintur.gob.ve </a>
    		<br><a href="www.venezuelaturismo.gob.ve">www.venezuelaturismo.gob.ve</a>
    		<br>DENUNCIA CUALQUIER IRREGULARIDAD A TRAVES DEL CORREO
    		<br>DENUNCIA@MINTUR.GOB.VE
  		</div>

	</body>

</html>