{% extends "base_cuentas.html" %}
{% load widget_tweaks %}

{% block form_box %}
    <div class="form-box">
        <div class="header">¿No puede inciar sesi&oacute;n?</div>

        <form id="necesita_ayuda_form" action="{% url 'cuentas_necesita_ayuda' %}" method="POST">
            {% csrf_token %}

            <div class="body bg-gray">
                <div class="has-error"  style="color: red;  {% if not form.olvide.errors %} display: none; {% endif %}">
                    {{ form.olvide.errors }}
                </div>


                <div id="olvide_password" class="form-group">
                    {% render_field form.olvide.0 %}
                </div>
                <div id="correo_electronico" class="form-group" style="display: none;">
                    <small>Para establecer la contrase&ntilde;a, introduce la direcci&oacute;n de correo electr&oacute;nico que utilizas para iniciar sesi&oacute;n en Mintur.</small><br>
                    {{ form.correo_electronico.label_tag }}<br>
                    {% render_field form.correo_electronico  class="form-control" %}
                    <div class="has-error" style="color: red;">
                        {{ form.correo_electronico.errors }}
                    </div>
                </div>
                <div id="olvide_correo_electronico" class="form-group">
                    {% render_field form.olvide.1 %}
                </div>
                <div id="rif" class="form-group" style="display: none;">
                    <small>Ingrese su n&uacute;mero de RIF para iniciar el proceso de recuperaci&oacute;n de correo electr&oacute;nico</small><br>
                    {{ form.rif.label_tag }}<br>
                    {% render_field form.rif  class="form-control rif-mask" %}
                    <div class="has-error" style="color: red;">
                        {{ form.rif.errors }}
                    </div>
                </div>
            </div>
            <div class="footer">
                <button type="submit" class="btn bg-blue btn-block">
                    Continuar
                    <i class="fa fa-arrow-circle-o-right btn-icon"></i>
                </button>
            </div>
        </form>
    </div>
{% endblock %}

{% block javascripts %}
    {{ block.super }}
    <script>
        $(document).ready(function() {
            var opcion_seleccionada = parseInt($('input[name=olvide]:checked').val(), 10);
            if ( opcion_seleccionada == 1) {
               $("#correo_electronico").show();
            }

            if ( opcion_seleccionada == 2) {
               $("#rif").show();
            }

            $("#olvide_password  ins.iCheck-helper").bind('click', function(){
                $("#correo_electronico").slideDown("");
                $("#rif").slideUp("");
                $('#id_correo_electronico').prop('required', true);
                $('#id_rif').prop('required', null);
            });

            $("#olvide_correo_electronico  ins.iCheck-helper").bind('click', function(){
                $("#rif").slideDown("");
                $("#correo_electronico").slideUp("");
                $('#id_rif').prop('required', true);
                $('#id_correo_electronico').prop('required', null);
            });
        });
    </script>
{% endblock %}
