{% extends "base_cuentas.html" %}
{% load widget_tweaks %}

{% block form_box %}
<div class="form-box">
    <div class="header">Responda las siguientes preguntas</div>
    <form action="{% url 'cuentas_preguntas_secretas' %}" method="post">
        {% csrf_token %}

        <div class="body bg-gray">
            <div class="error">
               {{ form.non_field_errors }}
            </div>

            {% for hidden in form.hidden_fields %}
                {{ hidden }}
            {% endfor %}

            <!-- Begin Pregunta 1 -->
            <p>
                <label>Pregunta 1</label><br>
                <span>{{ pregunta_1.question }}</span><br>
                {% render_field form.respuesta_1 class="form-control" required="" %}
                <div class="error">
                   {{ form.respuesta_1.errors }}
                </div>

            </p>
            <!-- End Pregunta 1 -->

            <!-- Begin Pregunta 2 -->
            <p>
                <label>Pregunta 2</label><br>
                <span>{{ pregunta_2.question }}</span><br>
                {% render_field form.respuesta_2 class="form-control" required="" %}
                <div class="error">
                   {{ form.respuesta_2.errors }}
                </div>
            </p>
            <!-- End Pregunta 2 -->

        </div>
        <div class="footer">
            <button type="submit" class="btn bg-blue btn-block">Obtener correo electrónico</button>
            <br>
            <small>
                <strong>Nota:</strong> en caso de no recordar sus preguntas secretas por favor contactar al personal de MINTUR a trasves del correo electr&oacute;nico ayuda@mintur.gob.ve o el n&uacute;mero telef&oacute;nico: 0212-1234567
            </small>
        </div>
    </form>
</div>
{% endblock %}






