<html>
<body>
<div>8798989887787887
<div id="SL_button">
eee
<img src="{{ MEDIA_URL }}000_Hkg9357396.jpg" alt=""/>
<img src="img/logo_mintur.png" alt=""/>
{% for a in lista_pst %}
    {{ a }}
{% endfor %}
<ol>
    <li>
        <h1 lang="fr-FR">
            NUMERO_DE_DOCUMENTO
        </h1>
        <ol>
            <li>
                <h2 lang="es-ES" align="right">
                    Caracas, FECHA_GENERACION_ACTA_REPARO
                </h2>
            </li>
        </ol>
    </li>
</ol>
<ol>
    <ol start="2">
        <li>
            <h2 lang="es-ES" align="center">
                ACTA DE REPARO
            </h2>
        </li>
    </ol>
</ol>
<center>
    <table width="637" cellpadding="7" cellspacing="0">
        <colgroup>
            <col width="138"/>
            <col width="469"/>
        </colgroup>
        <tbody>
        <tr valign="top">
            <td width="138">
                <p lang="es-ES">
                    <strong>SUJETO PASIVO:</strong>
                </p>
            </td>
            <td width="469">
                <p lang="es-ES">
                    <strong> NOMBRES O RAZON SOCIAL DEL PST </strong>
                </p>
            </td>
        </tr>
        <tr valign="top">
            <td width="138">
                <p lang="es-ES">
                    <strong>RIF:</strong>
                </p>
            </td>
            <td width="469">
                <p lang="es-ES">
                    <strong> RIF_PST </strong>
                </p>
            </td>
        </tr>
        <tr valign="top">
            <td width="138">
                <p lang="es-ES">
                    <strong>RIFTUR:</strong>
                </p>
            </td>
            <td width="469">
                <p lang="es-ES">
                    <strong> RIFTUR </strong>
                </p>
            </td>
        </tr>
        <tr valign="top">
            <td width="138">
                <p lang="es-ES">
                    <strong>RTN Nº: </strong>
                </p>
            </td>
            <td width="469">
                <p lang="es-ES">
                    <strong>RTN_PST </strong>
                </p>
            </td>
        </tr>
        <tr valign="top">
            <td width="138">
                <p lang="es-ES">
                    <strong>DOMICILIO:</strong>
                </p>
            </td>
            <td width="469">
                <p lang="es-ES">
                    <strong> DIRECCION_PST </strong>
                </p>
            </td>
        </tr>
        </tbody>
    </table>
</center>
<p lang="es-ES" align="justify">
    En Caracas, a los FECHA_GENERACION_ACTA_REPARO. Ejm: veinticinco (25) días del mes de abril de dos mil catorce
    (2014) , constituida <strong></strong>, funcionario(a) adscrito(a) a la Gerencia de Recaudación y Fiscalización del
    Instituto Nacional de Turismo INATUR, ente adscrito
    al Ministerio del Poder Popular para el Turismo, bajo la supervisión de la funcionario(a) <strong>
    NOMBRE_SUPERVISOR_FISCALIZACION </strong>,
    titular de la cédula de identidad <strong>Nº </strong><strong>
    CEDULA_SUPERVIOR_FISCALIZACION </strong><strong>, </strong>igualmente adscrita a
    la mencionada Gerencia, de conformidad con lo establecido en los artículos 15, 16 y 18 del Decreto Nº 9.044 con
    Rango, Valor y Fuerza de Ley
    Orgánica de Turismo de fecha quince (15) de junio de 2012, publicado en la Gaceta Oficial de la República
    Bolivariana de Venezuela N° 6.079
    Extraordinario de igual fecha, reimpresa según Gaceta Oficial de la República Bolivariana de Venezuela N° 39.955, en
    fecha veintinueve (29) de
    junio 2012, en concordancia con lo establecido en los artículos 121 numerales 2 y 5, 123, 124, 127 al 130, 145, 152,
    177 al 193 del Código Orgánico
    Tributario, publicado en la Gaceta Oficial Nº 37.305 de fecha 17/10/2001, en lo sucesivo COT, autorizada mediante
    Providencia Administrativa <strong> NUMERO_DE_PROVIDENCIA </strong>, de fecha FECHA_GENERACION_PROVIDENCIA ,
    notificada en fecha FECHA_NOTIFICACION_PROVIDENCIA
    , en el domicilio del sujeto pasivo, <strong>“</strong><strong> RAZON_SOCIAL_PST </strong><strong>” </strong>supra
    identificado, se levanta
    la presente Acta de Reparo, según lo dispuesto en el artículo 183 del COT, con el objeto de dejar constancia de los
    hechos comprobados en la
    fiscalización practicada en materia de la Contribución Especial por la Prestación de Servicios Turísticos 1%, para
    los períodos fiscales
    comprendidos desde PERIODO_INICIO_FISCALIZACION hasta PERIODO_FIN_FISCALIZACION , ambos inclusive; y cuyo comienzo
    consta en Acta de
    Requerimiento PRIMER_ACTA_DE_REQUERIMIENTO_GENERADA <strong>, </strong>notificada en fecha<strong> </strong>
    FECHA_NOTIFICACION_PRIMER_ACTA_REQUERIMIENTO
</p>

<p lang="es-ES" align="justify">
    <strong>I.- PUNTO PREVIO</strong>
</p>

<p lang="es-ES" align="justify">
    <strong>I.1.- ANTECEDENTES</strong>
</p>

<p lang="es-ES" align="justify">
    <strong> ANTECEDENTES FISCALIZACION. “</strong>
    <strong>CUBANA DE AVIACIÓN, S.A. (Sucursal Venezuela)”</strong>
    , es una sucursal establecida en la República Bolivariana de Venezuela de la compañía EMPRESA CONSOLIDADA CUBANA DE
    AVIACIÓN, sociedad organizada
    conforme a las leyes de la República de Cuba constituida y existente por la Resolución Nº AEE-86 del 27/06/1961;
    inscrita en la Notaria Especial
    del Ministerio de Justicia, bajo el Nº 1701 de fecha 16-09-1996, copia expedida de su matriz el 11-01-1997,
    autenticada el día 31-10-1197 por el
    Ministerio de Relaciones Exteriores de la República de Cuba, legalizada en la Embajada de Venezuela de Cuba bajo el
    Nº 3418 de fecha 03-11-1997 y
    registrada en la República Bolivariana de Venezuela bajo en Nº 31, tomo 136-A-Pro de fecha 18-05-1995, expediente Nº
    447219. Tiene por objeto la
    transportación nacional e internacional de pasajeros, carga y correo de forma regular y no regular, vender boletos
    aéreos, brindar servicios y
    venta a bordo en sus aeronaves y vender bastos productos a otras aerolíneas .
</p>

<p lang="es-ES" align="justify">
    <strong>I.2.- ALCANCE DE LA INVESTIGACIÓN </strong>
</p>

<p lang="es-ES" align="justify">
    La presente actuación fiscal se limita a los hechos comprobados a “<strong> NOMBRES O RAZON SOCIAL DEL PST </strong><strong>”</strong>,
    en su
    calidad de contribuyente, en materia de la Contribución Especial por la Prestación de Servicios Turísticos para los
    períodos fiscales comprendidos
    desde PERIODO_INICIO_FISCALIZACION hasta PERIODO_FIN_FISCALIZACION , ambos inclusive; los cuales se rigen por el
    Decreto Nº 9.044 con
    Rango, Valor y Fuerza de Ley Orgánica de Turismo de fecha quince (15) de junio de 2012, publicado en la Gaceta
    Oficial de la República Bolivariana
    de Venezuela N° 6.079 Extraordinario de igual fecha, reimpresa según Gaceta Oficial de la República Bolivariana de
    Venezuela N° 39.955, en fecha
    veintinueve (29) de junio 2012. Todo ello, no limita ni condiciona las facultades de fiscalización de la
    Administración Tributaria respecto a otros
    elementos de la base imponible, no cubiertos por la presente investigación fiscal, de conformidad con lo previsto en
    el artículo 187, Parágrafo
    Único del COT.
</p>

<p lang="es-ES" align="justify">
    El método aplicado en este procedimiento es la determinación sobre base cierta en los períodos donde el
    contribuyente puso a disposición de la
    Administración Tributaria la documentación contable e información relacionada con el presupuesto de hecho del
    tributo, no solo en cuanto a su
    efectividad, sino a la magnitud económica de las circunstancias que lo conforman, permitiendo conocer con certeza el
    hecho y los valores imponibles
    en forma directa. Y sobre base presunta, en aquellos periodos sobre los cuales el contribuyente no suministró la
    información requerida que permita
    conocer en forma directa los hechos imponibles investigados.
</p>

<p lang="es-ES" align="justify">
    Se aplicaron procedimientos de auditoría referidos a la indagación, a través de solicitud escrita, la confirmación y
    cruce de la data contenida en
    los sistemas de información disponibles para la Administración Tributaria, los cuales reciben informaciones
    suministradas por el mismo
    contribuyente.
</p>

<p lang="es-ES" align="justify">
    <strong>II.- DE LOS PERIODOS FISCALES DESDE </strong>
    <strong> PERIODO_INICIO_FISCALIZACION </strong>
    <strong> HASTA </strong>
    <strong> PERIODO_FIN_FISCALIZACION </strong>
    <strong>.</strong>
</p>

<p lang="es-ES" align="justify">
    <strong>II.1.- </strong>
    <strong>DECLARACIÓN Y PAGO DE LA CONTRIBUCIÓN </strong>
    <strong>ESPECIAL POR LA PRESTACIÓN DE SERVICIOS TURÍSTICOS</strong>
    <strong> FUERA DEL PLAZO ESTABLECIDO</strong>
    <strong> PARA LOS PERIODOS FISCALES DE </strong>
    <strong> PERIODO_DECLARACIONES_FUERA_DEL_PLAZO </strong>
    <strong>.</strong>
</p>

<p lang="es-ES" align="justify">
    A fin de constatar el cumplimiento de la obligación de declarar la Contribución Especial por la Prestación de
    Servicios Turísticos, para los
    períodos fiscales, <strong> PERIODO_DECLARACIONES_FUERA_DEL_PLAZO </strong>, la actuación fiscal solicitó mediante
    acta de Requerimiento Nº <strong> NUM_ACTA_REQUERIMIENTO_FUERA_PLAZO </strong>, de fecha
    FECHA_ACTA_REQUERIMIENTO_FUERA_PLAZO , los soportes de pago de la
    Contribución del 1%, y sus respectivas planillas Nº 1, ratificada según Acta de Requerimiento <strong>NUM_ACTA_REQ2_FUERA_PLAZO</strong>,
    de
    fecha FECHA_GENERACION__ACTA_REQ2_FUERA_PLAZO, los cuales fueron/no fueron entregados por el contribuyente según
    consta en Acta de
    Constancia Nº <strong> NUM_ACTA_CONSTANCIA_FUERA_PLAZO </strong> de fecha NUM_ACTA_CONSTANCIA_FUERA_PLAZO .
</p>

<p lang="es-ES" align="justify">
    En consecuencia, la actuación fiscal procedió a efectuar la determinación sobre la base de los ingresos reflejados
    en las Declaraciones de la
    Contribución Especial del 1% Planilla Nº 1, registradas en el Sistema de Recaudación llevado por esta Gerencia para
    fines de control fiscal,
    cantidad que constituye la base imponible de la Contribución Especial del 1%, constatándose que las referidas
    declaraciones fueron presentadas y
    pagadas en forma extemporánea, tal y como se evidencia en el siguiente cuadro:
</p>

<p lang="es-ES" align="center">
    Cuadro I
</p>

<p lang="es-ES" align="center">
    CUADRO_DE_ACTA_DE_REPARO_DECLARACIONES_FUERA_PLAZO
</p>

<p lang="es-ES" align="justify">
    <strong>II.2.- DETERMINACIÓN DE LA CONTRIBUCIÓN </strong>
    <strong>DE LA CONTRIBUCIÓN </strong>
    <strong>ESPECIAL POR LA PRESTACIÓN DE SERVICIOS TURÍSTICOS</strong>
    <strong> OMISAS CORRESPONDIENTES </strong>
    <strong>A LOS PERIODOS FISCALES DE </strong>
    <strong> PERIODO_DECLARACIONES_OMISAS </strong>
    <strong>.</strong>
</p>

<p lang="es-ES" align="justify">
    De la revisión del Sistema de Recaudación se pudo constatar que el contribuyente “<strong> NOMBRES O RAZON SOCIAL
    DEL PST </strong> <strong>” </strong>omitió presentar las Declaraciones de la Contribución Especial del 1%
    correspondientes a los períodos de
    PERIODO_DECLARACIONES_OMISAS .
</p>

<p lang="es-ES" align="justify">
    En consecuencia la actuación fiscal al momento de efectuar la determinación consideró los ingresos brutos reflejados
    en los documentos contables
    consignados según consta en Acta de Recepción Nº P/DE/GRF/2014/F/124-05, de fecha 03/04/2014, en atención al Acta de
    Requerimiento Nº
    P/DE/GRF/2014/F/118-01, de fecha 27/03/2014 y ratificada según Acta de Requerimiento Nº P/DE/GRF/2014/F/124-04 de
    fecha 01/04/2014, que a
    continuación se mencionan:
</p>

<p lang="es-ES" align="justify">
    1.- Balance de Comprobación mensual y
</p>

<p lang="es-MX" align="justify">
    2.- Planillas de Declaración del Impuesto al Valor Agregado (Forma 0030)
</p>

<p lang="es-ES" align="justify">
    Observándose una diferencia tal como se detalla en el siguiente cuadro:
</p>

<p lang="es-ES" align="center">
    Cuadro II
</p>

<p lang="es-ES" align="center">
    CUADRO_REPARO_DECLARACIONES_OMISAS
</p>

<p lang="es-ES">
    <strong>III.- DETERMINACIÓN DEL IMPUESTO A PAGAR</strong>
</p>

<p lang="es-ES" align="justify">
    Como consecuencia de las objeciones formuladas en cada uno de los períodos de imposición, objeto de esta
    investigación, se procede a efectuar los
    ajustes correspondientes y, en consecuencia, se efectúa la determinación fiscal respectiva, originándose un reparo
    por pagar de
    MONTO_TOTAL_REPARO ,tal como se detalla en los cuadro I y II de la presente acta.
</p>

<p lang="es-ES" align="justify">
    <strong>IV.- CONSIDERACIONES FINALES</strong>
</p>

<p lang="es-ES" align="justify">
    Se le participa al contribuyente <strong> </strong>“<strong> NOMBRES O RAZON SOCIAL DEL
    PST </strong><strong>”</strong>, identificada con el
    Registro Único de Información Fiscal (RIF) <strong> RIF_PST </strong>,<strong> </strong>que de conformidad con lo
    establecido en el artículo
    185 del COT, dispone de quince (15) días hábiles contados a partir de la fecha de notificación de la presente Acta
    para aceptar las objeciones
    fiscales determinadas para los períodos de imposición fiscalizados y pagar monto del tributo determinado.
</p>

<p lang="es-ES" align="justify">
    En caso de acogerse a lo dispuesto en la norma comentada, deberá pagar los tributos resultantes exclusivamente en
    las cuentas recaudadoras a nombre
    del INATUR, y remitir copia fotostática del pago realizado.
</p>
<table width="590" cellpadding="7" cellspacing="0">
    <colgroup>
        <col width="279"/>
        <col width="281"/>
    </colgroup>
    <tbody>
    <tr valign="top">
        <td width="279">
            <p lang="es-ES" align="justify">
                <strong>Nombre de la Institución Bancaria</strong>
            </p>
        </td>
        <td width="281">
            <p lang="es-ES" align="justify">
                <strong>Cuenta Corriente Nª</strong>
            </p>
        </td>
    </tr>
    <tr valign="top">
        <td width="279">
            <p lang="es-ES" align="justify">
                Banco de Venezuela
            </p>
        </td>
        <td width="281">
            <p lang="es-ES" align="justify">
                0102-0221-36-0000040264
            </p>
        </td>
    </tr>
    <tr valign="top">
        <td width="279">
            <p lang="es-ES" align="justify">
                Banco Provincial
            </p>
        </td>
        <td width="281">
            <p lang="es-ES" align="justify">
                0108-0582-68-0100016481
            </p>
        </td>
    </tr>
    <tr valign="top">
        <td width="279">
            <p lang="es-ES" align="justify">
                Banco Banesco, Banco Universal
            </p>
        </td>
        <td width="281">
            <p lang="es-ES" align="justify">
                0134-0861-10-8613001175
            </p>
        </td>
    </tr>
    <tr valign="top">
        <td width="279" height="2">
            <p lang="es-ES" align="justify">
                Banco Bicentenario
            </p>
        </td>
        <td width="281">
            <p lang="es-ES" align="justify">
                0175-0044-95-0000024585
            </p>
        </td>
    </tr>
    </tbody>
</table>
<p lang="es-ES" align="justify">
    Asimismo podrá remitir un escrito dirigido a la Gerencia de Recaudación y Fiscalización del INATUR, ubicada en la
    Avenida Francisco de Miranda con
    Avenida Principal La Floresta, Complejo MINTUR, Torre Sur, Piso 1, Altamira, Municipio Chacao, Estado Miranda,
    manifestando las condiciones de su
    aceptación.
</p>

<p lang="es-ES" align="justify">
    Se le informa que de conformidad con lo establecido en el artículo 186 del COT, una vez aceptado el reparo y pagado
    el tributo omitido la
    Administración Tributaria mediante Resolución procederá a dejar constancia de ello y liquidará los intereses
    moratorios, la multa establecida en el
    parágrafo segundo del artículo 111 ejusdem, equivalente al 10% del tributo omitido, así como las demás multas a que
    hubiese lugar conforme con lo
    previsto en el citado COT.
</p>

<p lang="es-ES" align="justify">
    De no estar de acuerdo con el contenido de esta Acta y vencido el plazo establecido en el párrafo anterior se dará
    por iniciada la instrucción del
    Sumario, teniendo el contribuyente el plazo de veinticinco (25) días hábiles para formular los descargos y aportar
    la totalidad de las pruebas para
    su defensa que considere procedentes, conforme a lo dispuesto en el artículo 188 del COT, los cuales deberán
    presentarse mediante escrito que
    contenga los requisitos previstos en el artículo 49 de la Ley Orgánica de Procedimientos Administrativos, publicada
    en Gaceta Oficial Nº 2.818
    Extraordinario de fecha 01/07/1981, interpuesto por ante la División de Tramitaciones, antes mencionada.
</p>

<p lang="es-ES" align="justify">
    Para que así conste, y a los fines legales consiguientes se levanta la presente Acta en cuatro (04) ejemplares de un
    mismo tenor y a un solo
    efecto, uno de los cuales queda en poder de la contribuyente.
</p>
<table width="599" cellpadding="0" cellspacing="0">
    <colgroup>
        <col width="326"/>
        <col width="273"/>
    </colgroup>
    <tbody>
    <tr valign="top">
        <td width="326" height="12">
            <ol>
                <li>
                    <h6 lang="es-ES" align="justify">
                        POR EL SUJETO PASIVO:
                    </h6>
                </li>
            </ol>
        </td>
        <td width="273">
            <p lang="es-ES" align="justify">
                <strong>FUNCIONARIOS ACTUANTES:</strong>
            </p>
        </td>
    </tr>
    <tr valign="top">
        <td width="326" height="250">
            <p lang="es-ES" align="justify">
                <strong> NOMBRES O RAZON SOCIAL DEL PST RIF_PST </strong>
            </p>

            <p lang="es-ES" align="justify">
                Nombre: __________________________
            </p>

            <p lang="es-ES" align="justify">
                Cédula:____________________________
            </p>

            <p lang="es-ES" align="justify">
                Cargo:____________________________
            </p>

            <p lang="es-ES" align="justify">
                Fecha:____________________________
            </p>

            <p lang="es-ES" align="justify">
                Teléfono:__________________________
            </p>

            <p lang="es-ES" align="justify">
                Correo: __________________________
            </p>

            <p lang="es-ES" align="justify">
                Firma: ____________________________
            </p>

            <p lang="es-ES" align="justify">
                Sello
            </p>
        </td>
        <td width="273">
            <p lang="es-ES" align="justify">
                Nombre:<strong> </strong><strong> NOMBRES_FISCAL </strong>
            </p>

            <p lang="es-ES" align="justify">
                Cédula: CEDULA_FISCAL
            </p>

            <p lang="es-ES" align="justify">
                Cargo: Fiscal Tributario Turístico
            </p>

            <p lang="es-ES" align="justify">
                Firma: __________________________
            </p>

            <p lang="es-ES" align="justify">
                Nombre: <strong> NOMBRES_SUPERVISOR </strong>
            </p>

            <p lang="es-ES" align="justify">
                Cédula: CEDULA_SUPERVISOR
            </p>

            <p lang="es-ES" align="justify">
                Cargo: Fiscal Tributario Turístico
            </p>

            <p lang="es-ES" align="justify">
                Firma:___________________________
            </p>
        </td>
    </tr>
    </tbody>
</table>
</div>
<div id="SL_shadow_translation_result2">
</div>
<div id="SL_shadow_translator">
    <div id="SL_planshet">
        <div id="SL_TB">
            <div id="bubblelogo">
            </div>
            <table cellspacing="1" border="0" id="SL_tables">
                <tbody>
                <tr>
                    <td align="left" width="20%">
                        <div id="SL_lng_from">
                            English »
                        </div>
                    </td>
                    <td align="left" width="20%">
                    </td>
                    <td width="13%" align="center">
                    </td>
                    <td width="8%" align="center">
                        <div id="SL_TTS_voice" title="Listen to the translation">
                        </div>
                    </td>
                    <td width="8%" align="center">
                        <div id="SL_copy" title="Select text">
                        </div>
                    </td>
                    <td width="8%" align="center">
                        <div id="SL_bbl_font_patch">
                        </div>
                        <div id="SL_bbl_font" title="Font size">
                        </div>
                    </td>
                    <td width="8%" align="center">
                        <div id="SL_TH" title="Translation history">
                        </div>
                    </td>
                    <td width="5%">
                    </td>
                    <td width="8%" align="right">
                        <div id="SL_pin" title="Pin pup-up bubble">
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div id="SL_shadow_translation_result">
    </div>
    <div id="SL_bbl_donate" title="Make a small contribution">
    </div>
    <div id="SL_Balloon_options">
        <a href="chrome-extension://noaijdpnepcgjemiklgfkcfbkokogabh/options-bbl.html" target="_blank"
           title="Show options">Options</a>
        : <a href="chrome-extension://noaijdpnepcgjemiklgfkcfbkokogabh/history.html" title="Translation history"
             target="_blank">History</a> :<a href="http://about.imtranslator.net/add-ons/chrome-extension/"
                                             target="_blank" title="ImTranslator Help">Help</a> : <a
            href="chrome-extension://noaijdpnepcgjemiklgfkcfbkokogabh/feedback.html" title="Feedback" target="_blank">Feedback</a>
    </div>
    <div id="SL_player">
    </div>
    <div id="SL_alert100">
        Text-to-speech function is limited to 100 characters
    </div>
</div>
</div>


</body>

</html>