{% extends "base.html" %}
{% load filtros_datos %}
{% block main_content %}
            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">

                <section class="content-header">
                    <h1>
                        {{ pst|get_tipo_usuario }}
                        <small>Registro</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-edit"></i>{{ pst|get_tipo_usuario_short }}</a></li>
                        <li class="active">Registro</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">

                    <div class="box box-danger">
                        <div class="box-body">

                            <form action="{% url 'cuentas_juridica_10' %}" method="POST">
                                {% csrf_token %}
                                <!-- registro de persona juridica -->
                                <!-- registro juridico paso 10 -->
                                <div class="body" id="persona-juridica">
                                    <div class="row">
                                        <div class="col-xs-6 col-xs-offset-6">
                                            <label>Proceso de registro</label><br>
                                            <select class="select" onchange="location = this.options[this.selectedIndex].value;">
                                                <option value="{% url 'cuentas_juridica_1' %}">Paso 1: Datos básicos</option>
                                                <option value="{% url 'cuentas_juridica_2' %}">Paso 2: Domicilio Fiscal</option>
                                                <option value="{% url 'cuentas_juridica_3' %}">Paso 3: Representante legal</option>
                                                <option value="{% url 'cuentas_juridica_4' %}">Paso 4: Persona de contacto</option>
                                                <option value="{% url 'cuentas_juridica_5' %}">Paso 5: Información específica</option>
                                                <option value="{% url 'cuentas_juridica_6' %}">Paso 6: Detalles del acta constitutiva</option>
                                                <option value="{% url 'cuentas_juridica_7' %}">Paso 7: Accionistas/Socios/Asociados</option>
                                                <option value="{% url 'cuentas_juridica_8' %}">Paso 8: Otros documentos</option>
                                                <option value="{% url 'cuentas_juridica_9' %}">Paso 9: Vista previa</option>
                                                <option selected>Paso 10: Confirmar registro</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="title">
                                        Confirmar registro
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-8 col-xs-offset-2">
                                            <p class="text-center">
                                                <strong>
                                                    Declaro que la información suministrada en este formulario es fiel y exacta. Así mismo, autorizo al Ministerio del Poder Popular para el Turísmo a verificarla. Acepto que de encontrarse alguna falsedad, la presente solicitud queda sin efecto.
                                                </strong>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="footer">
                                    <div class="row">
                                        <div class="col-xs-6 col-lg-3 col-lg-offset-3">
                                            <a href="{% url 'cuentas_juridica_1' %}" class="btn btn-info btn-flat btn-block">
                                                <i class="fa fa-arrow-circle-o-left btn-icon-back"></i>
                                                Editar registro
                                            </a>
                                        </div>
                                        <div class="col-xs-6 col-lg-3">
                                            <button type="submit" class="btn btn-primary btn-flat btn-block" id="submit">
                                                Confirmar registro
                                                <i class="fa fa-arrow-circle-o-right btn-icon"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        
                        </div>
                    </div>
                </section><!-- /.content -->
            </aside><!-- /.right-side -->
{% endblock %}
