{% extends "base.html" %}

{% load widget_tweaks %}

{% load filtros_datos %}

{% block css %}
{{ block.super }}
<style>
  .error ul {
    margin: 0 0.8em;
    padding: 0;
  }
</style>
{% endblock %}

{% block main_content %}
    <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="right-side">
        <section class="content-header">
            <h1>
                {{ pst|get_tipo_usuario }}
                <small>Registro</small>
            </h1>
            <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-edit"></i>{{ pst|get_tipo_usuario_short }}</a></li>
                <li class="active">Registro</li>
            </ol>
        </section
        <!-- Main content -->
        <section class="content" ng-controller="registroAccionistaCtrl">
            <div class="box box-danger">
                <div class="box-body">
                    <!-- registro de persona juridica -->
                    <!-- registro juridico paso 7 -->
                    <div class="body" id="persona-juridica">
                        <div class="row">
                            <div class="col-xs-6 col-xs-offset-6">
                                <label>Proceso de registro</label><br>
                                <select class="select" onchange="location = this.options[this.selectedIndex].value;">
                                    <option value="{% url 'cuentas_juridica_1' %}">Paso 1: Datos básicos</option>
                                    <option value="{% url 'cuentas_juridica_2' %}">Paso 2: Domicilio Fiscal</option>
                                    <option value="{% url 'cuentas_juridica_3' %}">Paso 3: Representante legal</option>
                                    <option value="{% url 'cuentas_juridica_4' %}">Paso 4: Persona de contacto</option>
                                    <option value="{% url 'cuentas_juridica_5' %}">Paso 5: Información específica</option>
                                    <option value="{% url 'cuentas_juridica_6' %}"> Paso 6: Detalles del acta constitutiva</option>
                                    <option selected>Paso 7: Accionistas/Socios/Asociados</option>
                                    <option value="{% url 'cuentas_juridica_8' %}">Paso 8: Otros documentos</option>
                                    <option value="{% url 'cuentas_juridica_9' %}?next={% url 'cuentas_juridica_7' %}">Paso 9: Vista previa</option>
                                    <option value="{% url 'cuentas_juridica_10' %}?next={% url 'cuentas_juridica_7' %}">Paso 10: Confirmar registro</option>
                                </select>
                            </div>
                        </div>
                        <div class="alert [[alerta.htmlclass]]" ng-show="alerta.mostrar" ng-cloak >
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            [[alerta.texto]]
                        </div>
                        <div class="title">
                            Accionistas/Socios/Asociados
                            <div class="col-xs-3 pull-right">
                                <a href="#" class="btn btn-info btn-flat btn-block btn-add" ng-click="agregarAccionista()">Agregar</a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                            {% if object_list %}
                             <form>
                                <table class="table table-striped table-partner" id="shareholder">
                                    <thead>
                                        <tr>
                                            <th class="col-xs-2 text-center">Nombres y apellidos</th>
                                            <th class="col-xs-2 text-center">Cédula</th>
                                            <th class="col-xs-2 text-center">RIF</th>
                                            <th class="col-xs-2 text-center">Fecha de incorporación</th>
                                            <th class="col-xs-1 text-center">No. de acciones</th>
                                            <th class="col-xs-1 text-center">Director</th>
                                            <th class="col-xs-2 text-center">Opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody id="shareholder">
                                    {% for accionista in object_list %}
                                        <tr class="shareholder-item" id="shareholder-{{ accionista.id }}">
                                            <td class="col-xs-2 text-center">{{ accionista.nombres }} {{accionista.apellidos}}</td>
                                            <td class="col-xs-2 text-center">{{ accionista.cedula }}</td>
                                            <td class="col-xs-2 text-center">{{ accionista.rif }}</td>
                                            <td class="col-xs-2 text-center">{{ accionista.fecha_incorporacion }}</td>
                                            <td class="col-xs-1 text-center">{{ accionista.numero_acciones }}</td>
                                            <td class="col-xs-1 text-center">{{ accionista.director|boolean_to_text }}</td>
                                            <td class="col-xs-1 text-center">
                                                <a href="#" ng-click="getItem({{ accionista.id }})" class="btn btn-primary btn-flat btn-block">
                                                    <i class="fa fa-edit icon-white"></i> Editar
                                                </a>
                                            </td>
                                            <td class="col-xs-1 text-center">
                                                <a href="" ng-click="deleteItem({{ accionista.id }})" class="btn btn-danger btn-flat btn-block">
                                                    <i class="fa fa-trash-o icon-white"></i> Eliminar
                                                </a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                                </form>
                                {% else %}
                                    <div>No posee Accionistas registrados</div>
                                {% endif %}
                            </div>
                        </div>
                    </div><br>
                    <div class="footer">
                        <div class="row">
                            <div class="col-xs-6 col-lg-5 col-lg-offset-1">
                                <a href="{% url 'cuentas_juridica_6' %}"  class="btn btn-info btn-flat btn-block">
                                    <i class="fa fa-arrow-circle-o-left btn-icon-back"></i>
                                    Volver al paso 6
                                </a>
                            </div>
                            <div class="col-xs-6 col-lg-5">
                                <a href="{% url 'cuentas_juridica_8' %}" class="btn btn-primary btn-flat btn-block">
                                    Guardar y continuar al paso 8: Otros documentos
                                    <i class="fa fa-arrow-circle-o-right btn-icon"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="add-partner" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" >
                <div ng-init="url_registro='{% url 'registro_accionista' %}'"></div>
                <div ng-init="url_edicion='{% url 'editar_accionista_post' %}'"></div>
                <form action="[[url_action]]" method="POST" name="formAccionista" ng-upload="uploadComplete(content)" novalidate>
                    {% csrf_token %}
                    <input type="text" name="pk_element" ng-model="pk_element" hidden>
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">Agregar Accionistas/Socios/Asociados</h4>
                            </div>
                            <div class="modal-body">
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="title"> Datos del Accionistas/Socios/Asociados</div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <label>Nombres</label>
                                                <input type="text" name="nombre" ng-model="nombre" class="form-control" ng-blur="validar_nombres()" only-character required>
                                                <div class="error">
                                                    <ul>
                                                      <li data-ng-show="submitted && formAccionista.nombre.$error.required">Este campo es requerido</li>
                                                      <li data-ng-show="invalidNombres" >[[ msgNombres ]]</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <label>Apellidos</label>
                                                <input type="text" name="apellido" ng-model="apellido" class="form-control" ng-blur="validar_apellidos()" only-character required>
                                                <div class="error">
                                                    <ul>
                                                      <li data-ng-show="submitted && formAccionista.apellido.$error.required">Este campo es requerido</li>
                                                      <li data-ng-show="invalidApellidos" >[[ msgApellidos ]]</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-9">
                                                <label>Cédula de identidad</label>
                                                <input type="text" name="cedula" ng-model="cedula" class="form-control iddoc-mask" ng-pattern="patternCedula" required ng-blur="validar_cedula()" placeholder="V-12345678" ci-mask>
                                                <div class="error">
                                                    <ul>
                                                        <li data-ng-show="submitted && formAccionista.cedula.$error.required">Este campo es requerido</li>
                                                        <li data-ng-show="submitted && formAccionista.cedula.$invalid && formAccionista.cedula.$dirty">cedula invalida!</li>
                                                        <li data-ng-show="invalidCedula" >[[ msgCedula ]]</li>
                                                    </ul>
                                                </div>
                                            </div>
                                            <div class="col-xs-3">
                                                <label>¿Es director?</label><br>
                                                <input type="checkbox" name="director" ng-model="director" class="form-control"> SI
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <label class="fl">Copia de la cédula de identidad (Archivo digitalizado en formato PDF)</label>
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div class="form-group">
                                                            <div class="" ng-if="is_valid_path(archivo_cedula)" >
                                                                Actualmente:
                                                                <a href="{{ MEDIA_URL }}[[archivo_cedula]]" target="_blank">
                                                                 [[nombre_archivo_cedula]]
                                                                </a>
                                                            </div>
                                                            <div class="input-group col-xs-12">
                                                                <input type="file" name="archivo_cedula" ng-model="archivo_cedula" class="form-control" required valid-file>
                                                            </div>
                                                            <div class="error">
                                                                <ul><li data-ng-show="submitted && formAccionista.archivo_cedula.$error.required">Este campo es requerido</li></ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <label>RIF</label>
                                                <input type="text" class="form-control rif-strict-mask" name="rif" ng-model="rif" ng-pattern="patternRif" required ng-blur="validar_rif()" placeholder="J-12345678-2">
                                                <div class="error">
                                                    <ul>
                                                        <li data-ng-show="submitted && formAccionista.rif.$error.required">Este campo es requerido</li>
                                                        <li data-ng-show="submitted && formAccionista.rif.$invalid && formAccionista.cedula.$dirty">El rif es invalido!</li>
                                                        <li data-ng-show="invalidRif" >[[ msgRif]]</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-12">
                                                <label class="fl">Copia del RIF (Archivo digitalizado en formato PDF)</label>
                                                <div class="row">
                                                    <div class="col-xs-12">
                                                        <div class="form-group">
                                                            <div class="" ng-if="is_valid_path(archivo_rif)" >
                                                                Actualmente:
                                                                <a href="{{ MEDIA_URL }}[[archivo_rif]]" target="_blank">
                                                                 [[nombre_archivo_rif]]
                                                                </a>
                                                            </div>
                                                            <div class="input-group col-xs-12">
                                                                <input type="file" name="archivo_rif" ng-model="archivo_rif" class="form-control fl" required valid-file>
                                                            </div>
                                                            <div class="error">
                                                                <ul><li data-ng-show="submitted && formAccionista.archivo_rif.$error.required">Este campo es requerido</li></ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-xs-6">
                                                <label>Fecha de incorporación a la compa&ntilde;ía</label>
                                                <div class="input-group input-append date" data-date-format="dd/mm/yyyy" data-date-end-date="today">
                                                    <input type="text" name="fecha_incorporacion" ng-model="fecha_incorporacion" class="form-control focus.inputmask date-mask" required>
                                                    <span class="input-group-addon add-on" style="padding: 2px 10px;"><i class="fa fa-calendar"></i></span>
                                                </div>
                                                <div class="error">
                                                    <ul><li data-ng-show="submitted && formAccionista.fecha_incorporacion.$error.required">Este campo es requerido</li></ul>
                                                </div>
                                            </div>
                                            <div class="col-xs-6">
                                                <label>Número de acciones</label>
                                                <input type="text" name="numero_acciones" ng-model="numero_acciones" class="form-control stack-mask" required>
                                                <div class="error">
                                                    <ul><li data-ng-show="submitted && formAccionista.numero_acciones.$error.required">Este campo es requerido</li></ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div><br>
                            <div class="modal-footer">
                                <div class="row">
                                    <div class="col-xs-6">
                                        <button class="btn btn-primary btn-flat btn-block" ng-click="validate(formAccionista)">Agregar</button>
                                    </div>
                                    <div class="col-xs-6">
                                        <a href="" class="btn btn-danger btn-flat btn-block" data-dismiss="modal"> Cancelar</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </section><!-- /.content -->
    </aside><!-- /.right-side -->
{% endblock %}
