<html>
	<head>
		<style>
			@page {
				size: letter portrait;
				top:6cm;
				margin-left: 2cm;
				margin-right: 1cm; 

				@frame header {
					-pdf-frame-content: headerLogoContent;
					top: 2cm;
					margin-left: 2cm;
					margin-right: 1cm;
					height: 10cm;
				}
				@frame footer {
					-pdf-frame-content: footerContent;
					bottom: 1cm;
					margin-left: 1cm;
					margin-right: 1cm;
					height: 1.5cm;
				}

			}
			.parrafo{
				text-align:justify;
				font-size:12px;
			}
			.pg{
				text-align:justify;
			}
			#footerContent {
    			font-size: 8px;
    			text-align:center;
			}

		</style>
	</head>
	<body style="font-family: arial;">
		<div id="headerLogoContent">
			<img height="100" width="200" src="static/img/informes/logo.jpg"/>
		</div>
		<div class="pg">
			<div style="text-align:center;font-size:14px;">
				INFORME T&Eacute;CNICO DEL ESTABLECIMIENTO DE ALOJAMIENTO TUR&Iacute;STICO CAMPAMENTO DE TURISMO {{ data.nombre_establecimiento }}
			</div>
			<br>
			<div class="parrafo">
				Iniciado el procedimiento de categorizaci&oacute;n al Establecimiento de Alojamiento Tur&iacute;stico denominado Campamento de Turismo (movil o fijo) {{ data.nombre_establecimiento }} por parte del Ministerio del Poder Popular para el Turismo, se procedi&oacute; al an&aacute;lisis del Informe de Inspecci&oacute;n de Categorizaci&oacute;n y la Planilla de Inspecci&oacute;n de Categorizaci&oacute;n para Campamento de Turismo, efectuada por los inspectores {{ data.nombre_inspector1 }}, {{ data.nombre_inspector2 }} dando cumplimiento a el art&iacute;culo 13 del Reglamento Parcial de la Ley Org&aacute;nica de Turismo sobre Establecimientos de Alojamiento Tur&iacute;stico, publicado en la Gaceta Oficial Nro 36.607 de fecha 21 de diciembre de 1998. En tal sentido, se se&ntilde;ala lo siguiente:
			</div>
			<br>
			<div class="parrafo">
				Con base al art&iacute;culo 13 del precitado Reglamento, se procedi&oacute; a la revisi&oacute;n de los documentos elaborados por los inspectores, con el fin de identificar los servicios que presta el Campamento de Turismo (movil o fijo) {{ data.nombre_establecimiento }} y a la vez, verificar la conformidad de los mismo seg&uacute;n lo establecido en las Normas para regular actividades de los Campamentos  Tur&iacute;sticos (Resoluci&oacute;n 133) de fecha 23-01-92, publicado en Gaceta Oficial Nro  34.889 de fecha 24-01-92.
			</div>
			<br>
			<div class="parrafo">
				En tal sentido, se encontr&oacute; lo siguiente:
				<br>{{ data.analisis_tecnico }}
			</div>
			<br>
			<div class="parrafo">
				Con base a la Resoluci&oacute;n Nro 030 de fecha 21 de febrero de 2011, publicada en la Gaceta Oficial Nro 39.627 de fecha 02 de marzo de 2011, emanada del Ministerio del Poder Popular para la Salud, en la cual se establece la prohibici&oacute;n de fumar o mantener encendidos productos de tabaco en los interiores de los espacios p&uacute;blicos, se ha procedido a suprimir como requisito m&iacute;nimo de cumplimiento para optar a una de las categor&iacute;as el indicador Nro 43 "Ceniceros" de las habitaciones, sin que esto influya positiva o negativamente en la evaluaci&oacute;n del Establecimiento.
			</div>

		</div>
		<div>
			<pdf:nextpage/>
		</div>
		<div class="pg">
			<div class="parrafo">
				En cuanto a los requisitos de mantenimiento y funcionalidad, independientemente de la categor&iacute;a que aspire asumir el Campamento de Turismo (movil o fijo) {{ data.nombre_establecimiento }},  el establecimiento debe corregir las siguientes deficiencias:
				<br>{{ data.mantenimiento_funcionalidad }}
			</div>
			<br>
			<div class="parrafo">
				Con base a lo anterior, el resultado de la evaluaci&oacute;n para el establecimiento de alojamiento tur&iacute;stico denominado  Campamento de Turismo (movil o fijo) {{ data.nombre_establecimiento }},  es el siguiente:
				<br>{{ data.resultado_evaluacion }}
			</div>
			<div class="parrafo">
				Los requisitos faltantes son factor importante para el otorgamiento de dicha categor&iacute;a, seg&uacute;n lo cita la Norma para regular la actividad de los Campamentos  Tur&iacute;sticos  antes mencionada, el cual establece en su art&iacute;culo 20 o 22 ,  seg&uacute;n sea el caso de campamento m&oacute;vil o fijo lo siguiente:
				<h3>
					"Los campamentos tur&iacute;sticos con alojamiento m&oacute;viles se categorizan en Primera, Segunda y Tercera Clase, debiendo reunir seg&uacute;n su categor&iacute;a las condiciones m&iacute;nimas...."
					<br><br>"Los campamentos tur&iacute;sticos con alojamiento fijos se categorizan en Primera, Segunda y Tercera Clase, debiendo reunir seg&uacute;n su categor&iacute;a las condiciones m&iacute;nimas...."
				</h3>
			</div>
		</div>
		</div>

		<div id="footerContent">
    		VICEMINISTERIO DE TURISMO NACIONAL
			<br>DIRECCI&aacute;N GENERAL DE CALIDAD TUR&Iacute;STICA
			<br>P&aacute;g. <pdf:pagenumber>
  		</div>
	</body>
</html> 