{% extends "base.html" %}

{% load obtener_valor %}

{% block main_content %}
    <!-- Right side column. Contains the navbar and content of the page -->
    <aside class="right-side">
        <!-- Main content -->
        <section class="content-header">
            <h1>Consultar proceso<small>Ver proceso</small></h1>
            <ol class="breadcrumb">
                <li><a href="/"> Inicio</a></li>
                <li><a href="{%url 'operacion_director' operacion='procesos' %}"><i class="fa fa-file-text"></i>Consulta de procesos</a></li>
                <li class="active">Ver proceso</li> <!--Editar icono -->
            </ol>
        </section>
        <section class="content">
            <div class="box box-danger">
                <div class="box-body">
                    <br>
                    <div class="row">
                        <div class="row">
                            <div class="col-xs-12">
                                <h3>{{ solicitud.pst.razon_social }}<small>{{solicitud.pst.tipo_pst.nombre}}</small></h3>
                            </div>
                        </div>
                        <div class="col-xs-12">
                            <h4>Proceso</h4>
                            <table class="table table-striped table-partner table-hover text-center">
                                <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Estatus</th>
                                        <th>Funcionario</th>
                                    </tr>
                                </thead>                           
                                <tbody>  
                                <tr>
                                    <td>{{solicitud.fecha_apertura|date}}</td>                                      
                                    <td>
                                        <label data-toggle="tooltip" title="Solicitud Creada" class="label label-warning etiqueta-estatus">Creada</label>
                                    </td>
                                    <td> - </td>  
                                </tr> 
                                {% for n in historial %}      
                                    <tr>
                                        <td>{{n|keyvalue:'fecha'|date}}</td>                                      
                                        <td>
                                            {% if n|keyvalue:'abreviacion_estatus' == 'NPI' or n|keyvalue:'abreviacion_estatus' == 'SN' %}
                                                <label data-toggle="tooltip" title="{{n|keyvalue:'des_estatus'}}" class="label label-danger etiqueta-estatus">{{n|keyvalue:'estatus'}}</label>
                                            {% elif n|keyvalue:'abreviacion_estatus' == 'A' %}
                                                <label data-toggle="tooltip" title="{{n|keyvalue:'des_estatus'}}" class="label label-success etiqueta-estatus">{{n|keyvalue:'estatus'}}</label>
                                            {% else %}
                                                <label data-toggle="tooltip" title="{{n|keyvalue:'des_estatus'}}" class="label label-warning etiqueta-estatus">{{n|keyvalue:'estatus'}}</label>
                                            {% endif %}
                                        </td>
                                        <td>{{n|keyvalue:'funcionario'}}</td>  
                                    </tr> 
                                {% endfor %}                                 
                                </tbody>    
                            </table>
                            {% if documentos %}
                            <h4>Documentos</h4>
                            <table class="table table-striped table-partner table-hover text-center">
                                <thead>
                                    <tr>
                                        <th>Fecha</th>
                                        <th>Funcionario</th>
                                        <th>Opciones</th>
                                    </tr>
                                </thead>                           
                                <tbody>  
                                {% for d in documentos %}       
                                    <tr>
                                        <td>{{d.notificacion.fecha_emision|date}}</td>                                      
                                        <td>
                                        {% if funcionarios_doc|keyvalue:d.id %}
                                        {{funcionarios_doc|keyvalue:d.id}}
                                        {% else %}
                                        -
                                        {% endif %}</td>
                                        <td>
                                            <a 
                                            data-toggle="tooltip" 
                                            title="Ver documento"
                                            class="btn btn-info ver_documento" 
                                            ruta="{{d.documento.ruta_documento}}" 
                                                ><i class="fa fa-file icon-white"></i>
                                            </a>
                                        </td>  
                                    </tr> 
                                 {% endfor %}                                   
                                </tbody>    
                            </table>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <a href="{% url 'operacion_director' operacion='procesos' %}" class="btn btn-primary col-lg-12 col-md-12">
                    <i class="fa fa-arrow-left"></i> &nbsp;&nbsp;Volver
                </a>
            </div>
        </div>
    </aside>

    {% include '_modales_categorizacion.html' %}

{% endblock %}

{% block javascripts %}
    {{ block.super }}
    <script type="application/javascript">
        $(function() {
            
            $('.activar-modal-pdf').click(function(){
                $('#ver-documento-pdf').modal({
                    keyboard: false,
                    backdrop: 'static'
                });
            });

            $('.ver_documento').click(function(){
                ruta=$(this).attr('ruta');
                console.log(ruta);

                $(".marco-visor-pdf").attr(
                    'src',
                    "{% url 'ver_pdf' %}?file="+ruta
                );
                $('#ver-documento-pdf .modal-footer').html('');
                $('#ver-documento-pdf').modal();
            
                });
            });
           
    </script>
{% endblock %}