{% extends "base.html" %}

{% block main_content %}
            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">

                <section class="content-header">
                    <h1>
                        Administradora de Empresa Turística
                        <small>(No Certificada)</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-edit"></i>Licencias</a></li>
                        <li class="active">Vista previa</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">

                    <div class="box box-danger">
                        <div class="box-body">

                            <form action="../../index.html" method="post">

                                <div class="body" id="funcionario">
                                    <div class="row">
                                        <div class="col-xs-4 text-right">
                                            <label>RIF:</label>
                                        </div>
                                        <div class="col-xs-4">
                                            <span>J-1234567890</span>
                                            <a href="#">
                                                <i class="fa fa-search"></i>
                                            </a>
                                        </div>
                                        <div class="col-xs-2 text-right">
                                            <label>Fecha de Solicitud:</label>
                                        </div>
                                        <div class="col-xs-2">
                                            <span>01/01/2014</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4 text-right">
                                            <label>Tipo de persona juridica:</label>
                                        </div>
                                        <div class="col-xs-4">
                                            <span>Compañia anónima</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4 text-right">
                                            <label>Razón social:</label>
                                        </div>
                                        <div class="col-xs-4">
                                            <span>Viajes ABC C.A.</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4 text-right">
                                            <label>Denominación comercial:</label>
                                        </div>
                                        <div class="col-xs-4">
                                            <span>Viajes ABC C.A.</span>
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="title">
                                                Patente
                                                <a href="#">
                                                    <i class="fa fa-search"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4 text-right">
                                            <label>Numero de Patente:</label>
                                        </div>
                                        <div class="col-xs-8">
                                            123456789
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4 text-right">
                                            <label>Fecha de Inscripción:</label>
                                        </div>
                                        <div class="col-xs-8">
                                            01/09/2013
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="title">
                                                Constancia de Exoneración de la Patente
                                                <a href="#">
                                                    <i class="fa fa-search"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4 text-right">
                                            <label>Numero de la Constancia:</label>
                                        </div>
                                        <div class="col-xs-8">
                                            123456789
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4 text-right">
                                            <label>Fecha:</label>
                                        </div>
                                        <div class="col-xs-8">
                                            01/09/2013
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="title">
                                                Póliza de Responsabilidad Civil contra daños a terceros
                                                <a href="#">
                                                    <i class="fa fa-search"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4 text-right">
                                            <label>Numero de Póliza:</label>
                                        </div>
                                        <div class="col-xs-8">
                                            123456789
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4 text-right">
                                            <label>Fecha de Emisión:</label>
                                        </div>
                                        <div class="col-xs-8">
                                            05/05/2013
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4 text-right">
                                            <label>Nombre de la Empresa Aseguradora:</label>
                                        </div>
                                        <div class="col-xs-8">
                                            Secure-me C.A
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="title">
                                                Contrato de Concesión
                                                <a href="#">
                                                    <i class="fa fa-search"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4 text-right">
                                            <label>Numero de Contrato de Concesión:</label>
                                        </div>
                                        <div class="col-xs-8">
                                            123456789
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4 text-right">
                                            <label>Fecha de emisión del Contrato:</label>
                                        </div>
                                        <div class="col-xs-8">
                                            05/05/2013
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4 text-right">
                                            <label>Fecha de vencimiento del Contrato:</label>
                                        </div>
                                        <div class="col-xs-8">
                                            05/05/2014
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4 text-right">
                                            <label>¿Establecimiento ubicado en un Área Bajo Régimen de Administración Especial (ABRAE)?</label>
                                        </div>
                                        <div class="col-xs-8">
                                            Si
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="title">
                                                Constancia de Calificación de Empresas
                                                <a href="#">
                                                    <i class="fa fa-search"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4 text-right">
                                            <label>Numero de Expediente:</label>
                                        </div>
                                        <div class="col-xs-8">
                                            123456789
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4 text-right">
                                            <label>Capital Nacional de la empresa:</label>
                                        </div>
                                        <div class="col-xs-8">
                                            57%
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4 text-right">
                                            <label>Fecha:</label>
                                        </div>
                                        <div class="col-xs-8">
                                            05/05/2013
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4 text-right">
                                            <label>Nombre del Accionista Extranjero:</label>
                                        </div>
                                        <div class="col-xs-8">
                                            Pedro Perez
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4 text-right">
                                            <label>¿Capital de la Empresa con Inversion Extranjera?</label>
                                        </div>
                                        <div class="col-xs-8">
                                            Si
                                        </div>
                                    </div>
                                    
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="title">
                                                Propiedad
                                                <a href="#">
                                                    <i class="fa fa-search"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4 text-right">
                                            <label>Tipo de Propiedad:</label>
                                        </div>
                                        <div class="col-xs-8">
                                            Propia
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4 text-right">
                                            <label>Circuito/Circunscripción:</label>
                                        </div>
                                        <div class="col-xs-8">
                                            El Surtidor
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4 text-right">
                                            <label>Tomo:</label>
                                        </div>
                                        <div class="col-xs-8">
                                            30
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4 text-right">
                                            <label>Número:</label>
                                        </div>
                                        <div class="col-xs-8">
                                            33
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4 text-right">
                                            <label>Fecha de Solicitud:</label>
                                        </div>
                                        <div class="col-xs-8">
                                            25/03/2011
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="title">
                                                Permiso de funcionamiento de bomberos
                                                <a href="#">
                                                    <i class="fa fa-search"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4 text-right">
                                            <label>Nº de Permiso de funcionamiento de bomberos</label>
                                        </div>
                                        <div class="col-xs-8">
                                            123456789
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4 text-right">
                                            <label>Fecha de Expedición:</label>
                                        </div>
                                        <div class="col-xs-8">
                                            25/03/2011
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4 text-right">
                                            <label>Estado:</label>
                                        </div>
                                        <div class="col-xs-8">
                                            Distrito Capital
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4 text-right">
                                            <label>Municipio:</label>
                                        </div>
                                        <div class="col-xs-8">
                                            Sucre
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4 text-right">
                                            <label>Parroquia:</label>
                                        </div>
                                        <div class="col-xs-8">
                                            El Marquez
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="title">
                                                Póliza de Seguro contra incendios
                                                <a href="#">
                                                    <i class="fa fa-search"></i>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4 text-right">
                                            <label>Nº de la Póliza de Seguro contra incendios</label>
                                        </div>
                                        <div class="col-xs-8">
                                            123456789
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4 text-right">
                                            <label>Nombre de la Empresa Aseguradora:</label>
                                        </div>
                                        <div class="col-xs-8">
                                            Secure-me C.A
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4 text-right">
                                            <label>Fecha de Expedición:</label>
                                        </div>
                                        <div class="col-xs-8">
                                            25/03/2011
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div class="title">
                                                Otros Documentos opcionales
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4 text-right">
                                            <label>Documento de Normas Internas del Establecimiento aplicables al huésped:</label>
                                        </div>
                                        <div class="col-xs-8">
                                            Revisar
                                            <a href="#">
                                                <i class="fa fa-search"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4 text-right">
                                            <label>Documento Tarifas de Alojamiento, en idioma castellano y en moneda de curso legal:</label>
                                        </div>
                                        <div class="col-xs-8">
                                            Revisar
                                            <a href="#">
                                                <i class="fa fa-search"></i>
                                            </a>
                                        </div>
                                    </div>

                                </div>

                            </form>
                        
                        </div>
                    </div>
                </section><!-- /.content -->
            </aside><!-- /.right-side -->



{% endblock %}

