{% extends "base_funcionario.html" %}

{% block main_content %}
            <!-- Right side column. Contains the navbar and content of the page -->
            <aside class="right-side">

                <section class="content-header">
                    <h1>
                        Documentos de PST
                        <small>Certificación</small>
                    </h1>
                    <ol class="breadcrumb">
                        <li><a href="#"><i class="fa fa-edit"></i> RTN</a></li>
                        <li class="active">Documentos</li>
                    </ol>
                </section>

                <!-- Main content -->
                <section class="content">

                    <div class="box box-danger">
                        <div class="box-body">

                            <form action="../../index.html" method="post">
                                <!-- registro de persona juridica -->

                                <!-- registro juridico paso 1 -->
                                <div class="body" id="funcionario">
                                    <div class="row">
                                        <div class="col-xs-4 text-right">
                                            <label>RIF:</label>
                                        </div>
                                        <div class="col-xs-4">
                                            <span>J-1234567890</span>
                                        </div>
                                        <div class="col-xs-2 text-right">
                                            <label>Fecha de registro:</label>
                                        </div>
                                        <div class="col-xs-2">
                                            <span>01/01/2014</span>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4 text-right">
                                            <label>Tipo de persona juridica:</label>
                                        </div>
                                        <div class="col-xs-4">
                                            Compa&ntilde;ía anonima
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-4 text-right">
                                            <label>Razón social:</label>
                                        </div>
                                        <div class="col-xs-4">
                                            Viajes ABC C.A.
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <table class="table table-striped table-documents">
                                                <thead>
                                                    <tr>
                                                        <th class="col-xs-10">Recaudos</th>
                                                        <th class="col-xs-2 text-center">Certificado</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr>
                                                        <td class="col-xs-10">Copia del RIF 
                                                            <a href="#" data-toggle="modal" data-target="#document-modal">
                                                                <i class="fa fa-search"></i>
                                                            </a>
                                                        </td>
                                                        <td class="text-center col-xs-2">
                                                            <input type="checkbox">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="col-xs-10">Cédula de identidad del representante legal 
                                                            <a href="#" data-toggle="modal" data-target="#document-modal">
                                                                <i class="fa fa-search"></i>
                                                            </a>
                                                        </td>
                                                        <td class="text-center col-xs-2">
                                                            <input type="checkbox">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="col-xs-10">RIF del representante legal 
                                                            <a href="#" data-toggle="modal" data-target="#document-modal">
                                                                <i class="fa fa-search"></i>
                                                            </a>
                                                        </td>
                                                        <td class="text-center col-xs-2">
                                                            <input type="checkbox">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="col-xs-10">Acta constitutiva 
                                                            <a href="#" data-toggle="modal" data-target="#document-modal">
                                                                <i class="fa fa-search"></i>
                                                            </a>
                                                        </td>
                                                        <td class="text-center col-xs-2">
                                                            <input type="checkbox">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="col-xs-10">Modificaciones del acta constitutiva 
                                                            <a href="#" data-toggle="modal" data-target="#document-modal">
                                                                <i class="fa fa-search"></i>
                                                            </a>
                                                        </td>
                                                        <td class="text-center col-xs-2">
                                                            <input type="checkbox">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="col-xs-10">Cédula de identidad Socio 1 <a href="#" data-toggle="modal" data-target="#document-modal">
                                                                <i class="fa fa-search"></i>
                                                            </a>
                                                        </td>
                                                        <td class="text-center col-xs-2">
                                                            <input type="checkbox">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="col-xs-10">RIF Socio 1 
                                                            <a href="#" data-toggle="modal" data-target="#document-modal">
                                                                <i class="fa fa-search"></i>
                                                            </a>
                                                        </td>
                                                        <td class="text-center col-xs-2">
                                                            <input type="checkbox">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="col-xs-10">Cédula de identidad Socio 2 
                                                            <a href="#" data-toggle="modal" data-target="#document-modal">
                                                                <i class="fa fa-search"></i>
                                                            </a>
                                                        </td>
                                                        <td class="text-center col-xs-2">
                                                            <input type="checkbox">
                                                        </td>
                                                    </tr>
                                                    <tr>
                                                        <td class="col-xs-10">RIF Socio 2 
                                                            <a href="#" data-toggle="modal" data-target="#document-modal">
                                                                <i class="fa fa-search"></i>
                                                            </a>
                                                        </td>
                                                        <td class="text-center col-xs-2">
                                                            <input type="checkbox">
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <!-- Modal de documentos -->

                                            <div class="modal fade" id="document-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                              <div class="modal-dialog">
                                                <div class="modal-content">
                                                  <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                                    <h4 class="modal-title" id="myModalLabel">Documentos</h4>
                                                  </div>
                                                  <div class="modal-body">
                                                  </div>
                                                </div>
                                              </div>
                                            </div>

                                        </div>
                                    </div>
                                </div><br>
                                <div class="footer">
                                    <div class="row">
                                        <div class="col-xs-6 col-xs-offset-6 col-lg-3 col-lg-offset-9">
                                            <button type="submit" class="btn btn-primary btn-flat btn-block" data-toggle="modal" data-target="#certification-modal">
                                                Continuar
                                                <i class="fa fa-arrow-circle-o-right btn-icon"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        
                        </div>
                    </div>

                    <!-- Modal de certificacion -->

                    <div class="modal fade" id="certification-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                    <h4 class="modal-title" id="myModalLabel">Certificación de documentos</h4>
                                </div>
                                <div class="modal-body">
                                    <p class="text-center">
                                        ¿Certifica usted que los documentos entregados por el PST son identicos a los archivos digitalizados en el proceso de registro?
                                    </p>
                                </div>
                                <div class="modal-footer">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <button type="button" class="btn btn-primary btn-flat btn-block">
                                                Certificar
                                            </button>
                                        </div>
                                        <div class="col-xs-6">
                                            <button type="button" class="btn btn-danger btn-flat btn-block" data-dismiss="modal">
                                                Cancelar
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </section><!-- /.content -->
            </aside><!-- /.right-side -->
{% endblock %}
